* {
    font-family: "Jua", sans-serif;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  
    background-color: #235ba3;
  }

  .detail-search {
    position: relative;
  }
  
  #results {
    position: absolute;
    top: 100%;
    left: 115px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    display: none;
    width: 500px;
  }
  
  #results.show {
    display: block;
  }
  
  #results div {
    padding: 3px 0px;
    cursor: pointer;
  }
  
  #results div:hover {
    background-color: #f0f0f0;
  }
  
  .header-item {
    flex-basis: 10%;
  }
  
  .logo {
    width: 140px;
    margin-left: 10px;
  }
  
  .detail-search {
    flex-basis: 50%;
  }
  
  .search {
    width: 500px;
    height: 30px;
  }
  
  .login {
    position: absolute;
    top: 10px;
    right: 50px;
  }
  
  .login:hover {
    color: yellow;
    text-decoration: underline;
  }

/* /////////////////////////////////////////////////////////////////////  */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

a {
  color: #007bff;
  text-decoration: none;
}

ul {
  list-style: none; /* 목록 마커 제거 */
}

li {
  border-bottom: 2px solid #464646; 
  margin-bottom: 10px; 
  padding-bottom: 10px; 
  width: 98%;
}

li {
  text-align: left; /* 내용을 왼쪽 정렬 */
  margin-bottom: 10px; /* 내용 아래 간격을 조절하세요 */
}
    
 .tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #235ba3;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 8px;
    border: 1px solid #000000;
    border-radius: 1px;
    color: #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  li a {
  font-size: 18px; 
}

.content-box {
  border: 2px solid #464646; 
  padding: 0px; 
  border-radius: 7px; 
  max-height: 1100px; /* 원하는 높이로 조절하세요. */
  overflow-y: auto;


}


  .title-text {
    color: #464646;
    font-size: 24px;
  }
  .title-text:hover {
    color: #007bff;
  }
  

  .link-text {
    font-size: 16px; 

  }

  .item-number {
    font: bold;
    display: inline-block;
    margin-right: 5px; /* 원하는 여백 크기로 조절 가능 */
    width: 20px; /* 원하는 너비로 조절 가능 */
    text-align: right;
    font-size: 22px;
  }

  .imsi-right {
    position: fixed;
    bottom: 90px; 
    right: 70px; 
    width: 300px;
    height: 120px;
    background-color: white;
    border: 2px solid #464646;
    border-radius: 4px;
    max-height: 1100px; 
    overflow-y: auto;
  }
  

  .searched th{
    background-color: #235ba3;
    color: #ffffff;
    text-align: center;

  }
  .searched td {
    background-color: #ffffff; 
    text-align: center;
  }
